@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

body{
    background-color: rgb(165, 243, 243);
    color: rgb(30, 4, 4);
    font-family: Roboto, arial;
    
}
#wrapper{
    width: 80%;
    margin: auto;
    text-align: center;
}

.navbar{
    font-weight: bold;
    display:flex;
    justify-content: center;
    font-size: 25px;
    border-bottom: 25px solid white;  
}
a{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: rgb(54, 6, 6);
}
.profile{
    display: flex;
    margin-top: 50px;
}
section{
    margin : 100px;
    padding: 20px;
    
}
img{
    border-radius: 50%;
    border: 10px double black;
}
ul {
    display: inline-block;
    }
    
    li {
    text-align: left;
    }
h1{
    font-size: 40px;
    font-weight: bold;
    color: rgb(231, 39, 116);
    margin-left: 100px;
    margin-top: 50px;
}
h3{
    margin-left: 100px;
    margin-right: auto;
}
h2{
    font-size: 30px;
    font-weight: bold;
    color: rgb(189, 7, 80);
}
.fa {
    width: 50px;
}
.about{
    margin-left: 55px;
    margin-right: 15px;
    padding: 10px;
    line-height: 34px;
    text-align: justify;
}
.experience{
    
    line-height: 34px;
 
}
.connect{
    
    line-height: 34px;
    
 
}
.skills{
    
    line-height: 34px;
 
}